.pagination-slider__items {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-slider__item {
    width: 9px;
    height: 9px;
    margin-right: 16px;

    background-color: var(--gray-light,#DCDCDC);

    border-radius: 50%;
}

.pagination-slider__items:not(.pagination-slider__items_disabled) .pagination-slider__item:hover {
    background-color: var(--green-light, #DBF6F1);

    cursor: pointer;
}

.pagination-slider__item:last-of-type {
    margin-right: 0;
}

.pagination-slider__item_active {
    background-color: var(--green, #37CDAF);
}
