.request-donation {
    width: 100%;

    font-family: var(--text-family-main, sans-serif);
    font-size: 24px;
    font-weight: 300;

    line-height: 28px;
    letter-spacing: 0.3px;

    background-color: var(--green-blue, #E5F6F5);
}

.request-donation__content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0 74px;
}

.request-donation__title {
    margin-bottom: 30px;

    text-align: center;
}

.request-donation__post {
    padding: 0;
}

.request__documents {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 60px;
}

.request__documents-title {
    margin: 0 0 20px 0;

    font-weight: 500;
    font-size: 30px;

    line-height: 35px;

    text-align: center;
    letter-spacing: 0;
}

.request__document {
    margin-bottom: 11px;
}

.request__document:last-child {
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .request-donation__content {
        padding: 50px 16px 74px;
    }

    .card-slider__title {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .request-donation {
        font-size: 18px;
        font-weight: 300;

        line-height: 21px;
        letter-spacing: 0.2px;
    }

    .request-donation__content {
        padding: 60px 16px 40px;
    }

    .request-donation__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
    }

    .request__documents {
        margin-bottom: 40px;
    }

    .request__documents-title {
        font-weight: 500;
        font-size: 24px;

        line-height: 28px;
    }

    .request__document {
        margin-bottom: 6px;
    }
}
